# تجاهل مجلدات البيانات والمخرجات
data/
outputs/
*.h5
*.pt
*.pth

# تجاهل ملفات البايثون المؤقتة
__pycache__/
*.pyc

# تجاهل بيئة العمل الوهمية (لو موجودة)
venv/
env/
.env

# تجاهل بيانات الـ Jupyter
.ipynb_checkpoints/
